In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import time


from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.discriminant_analysis import StandardScaler
from sklearn.model_selection import cross_val_score, KFold
from sklearn.metrics import mean_squared_error, accuracy_score
from sklearn.metrics import roc_auc_score

import xgboost as xgb
import lightgbm as lgb
from lightgbm import log_evaluation, early_stopping


# jupyter配置
pd.options.display.max_rows=1000 #Notebook 的一个cell的显示行数
pd.options.display.max_columns=10000#Notebook 的一个cell的显示列数

In [3]:
data = pd.read_csv('./data/uid_click_log.csv')

In [8]:
data.head(10)

      uid     vid     cid  playtime  duration      date  rank
0  100000  100870  100037      4966      9590  20200706     1
1  100000  101167  100024      5037      4949  20200706     2
2  100000  103608  100008      5137     14884  20200706     3
3  100000  100220  100084      5139     16784  20200706     4
4  100000  101674  100027      5149      5760  20200706     5
5  100000  102463  100000      5131      6001  20200706     6
6  100000  102779  100030      5112     56900  20200706     7
7  100000  104128  100053      5138     10134  20200706     8
8  100000  102829  100053      5129     10867  20200706     9
9  100000  102954  100054      5138     45379  20200706    10